body {
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;

    background: #ffffff;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 52%, rgba(247, 247, 247, 1) 100%);
}

header {
    padding: 50px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    color: rgb(255, 255, 255);

    padding-left: 50px;
    padding-top: 100px;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    color: rgb(0, 0, 0);

    padding-left: 50px;
    padding-top: 10px;
}

li {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    /* gets rid of bullet points */
    list-style-type: none;

    padding-bottom: 10px;
}

#banner {
    width: 1100px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;

    /* banner color */
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

    background-size: 300% 300%;
    animation: moveGradient 10s ease infinite;

    position:relative;

}

.face {
  position: absolute;  
  top: 50px;          
  right: 50px;         
  width: 200px;        
  height: 200px; 
  object-fit: contain;
  border-radius: 10px;
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.accent-bar {
    width: 60%;
    height: 15px;
    background-color: #57C785; 
    border-radius: 10px;
    /* centers accent */
    margin: 20px auto 50px auto; 
}

main {
  display: flex;
  justify-content: space-around;
  align-items: stretch; 
  gap: 20px;
  padding-bottom: 100px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column; 
  background-color: #fafafa;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  transition: background-color 0.5s ease;
}

.column:hover {
  background-color:  #57C785;
}

footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    /* gets rid of bullet points */
    list-style-type: none;

    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    background-color: rgb(38, 38, 38);

    border-radius: 10px;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px; 
}


footer a {
    color: white;
    text-decoration: none;
  }


  .column h2,
.column ul {
    margin: 0;
    padding: 10px;
}

.column ul li {
    padding-bottom: 10px;
    list-style-type: none; 
}