body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    background:white;

}

h1 {
    margin-bottom: 100px;
}

h2 {
    color:orangered;
}


p {
    line-height: 1.6; 
}

.container {
    display: flex;
    align-items: flex-start; 
    gap: 40px; 
  }



  .text {
    width: 50%;
  }