body {
    font-family: "Open Sans", sans-serif;
    background: white;
    margin: 0;
  }
  
  
  .fixed-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;    
    height: 100vh;   
    object-fit: contain; 
    background: white; 
  }
  
 
  .text {
    margin-left: 50vw; 
    padding: 40px;
    max-width: 650px;
  }
  
  h1 {
    margin-bottom: 80px;
  }
  
  h2 {
    color: orangered;
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 16px;
  }
  
  