body {
    background-image: url("images/background.png");
    background-size: cover;     
    background-repeat: no-repeat;
}

h1 {
    font-family: "Caveat", cursive;
    font-style: normal;
    color: white;
    padding:30px;
  }

h2 {
    font-family: "Caveat", cursive;
    font-style: normal;
    color: rgb(195, 14, 14);
  }

p {
     font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.boxed-text {
    background-color: #ffffff;
    padding: 30px;           
    display: inline-block;    
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}

#gamecontrol {
    text-align: center;
    padding:10px;
}

button {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(255, 255, 255);
    background-color:rgb(195, 14, 14);
    padding:10px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);


}

#game p {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
    

}

#game {
    display: grid;
    place-content: center;
    border-radius: 10px;
}

/* 
#actions {
    margin-left: 500px;
} */

#roll {
    display: block;
    margin: auto;
}

#pass {
    display: block;
    margin: auto;
}


#score p {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    

}

#score {
    display: grid;
    place-content: center;
    border-radius: 10px;
}


